.daynav-container{
    margin: 10px;
}

.daynav-title{
    font-weight: bold;
    font-size: 24px;
}

.daynav-digits {
    margin: 0;
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    opacity: .7;
}

.daynav-subtitle {
    font-size:16px;
    color: #2596CF;
    font-weight: 500;
}

.day-icon {
    width:18px;
    margin-right: 4px;
    
}


.flex-cont {
    display: flex;
    flex-direction: row;
    vertical-align: center;
}