.map-container{
    margin: 10px;
}

.leaflet-container {
    width: auto !important;
    height: 200px !important;
    border-radius: 4px;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
  }